<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ARM | Anime Relational Mapper</title>
  <meta name="description" content="Anime Relational Mapper">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app" class="app">
    <div class="search">
      <select v-model="searchType" class="search__item search__item--type">
        <option>mal</option>
        <option>kitsu</option>
        <option>anilist</option>
      </select>
      <input type="number" class="search__item search__item--id" v-model.number="searchId" value="" placeholder="Input AnimeID" min=1>
      <input type="submit" class="search__item search__item--submit" v-on:click="search" v-if="!isFetching" name="" value="Search">
      <input type="submit" class="search__item search__item--submit" v-on:click="search" v-else name="" value="Searching..." disabled>
    </div>
    <div class="results" v-bind:style="{ 'background-image': 'url(' + backgroundImage + ')' }">
      <a class="results__item results__item--mal" v-bind:href="malURL" target="_blank">
        <p class="result__item__num">😇 result.mal 😇</p>
        <div class="results__item__logo">
          <img src="/images/mal.png" alt="MAL">
        </div>
      </a>
      <a class="results__item results__item--kitsu results__item--middle" v-bind:href="kitsuURL" target="_blank">
        <p class="result__item__num">😇 result.kitsu 😇</p>
        <div class="results__item__logo">
          <img src="/images/kitsu.svg" alt="kitsu">
        </div>
      </a>
      <a class="results__item results__item--anilist" v-bind:href="anilistURL" target="_blank">
        <p class="result__item__num">😇 result.anilist 😇</p>
        <div class="results__item__logo">
          <img src="/images/anilist.png" alt="anilist">
        </div>
      </a>
    </div>
  </div>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html, body {
      width: 100%;
      height: 100%;
    }

    select, input {
      -webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
      border: none;
      border-radius: 0;
    }

    select:focus, input:focus {
      outline: none;
    }

    .app {
      width: 100%;
      height: 100%;
      background-color: #000;
    }

    .search {
      display: flex;
      height: 10%;
      min-height: 80px;
    }

    .search__item {
      height: 100%;
      font-size: 24px;
      padding: 0 20px;
    }

    .search__item--type {
      width: 40%;
    }

    .search__item--id {
      width: 40%;
    }

    .search__item--submit {
      width: 20%;
    }

    .results {
      display: flex;
      height: 90%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Do Hyeon', sans-serif;
    }

    .results__item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 33.3%;
      height: 100%;
      color: #fff;
      font-size: 128px;
      text-align: center;
      text-decoration: none;
      transition: all 0.15s linear;
    }

    .results__item--middle {
      width: 33.4%;
    }

    .results__item--mal {
      background-color: rgba(46, 81, 162, 0.87);
    }

    .results__item--mal:hover {
      background-color: rgba(46, 81, 162, 0.95);
    }

    .results__item--kitsu {
      background-color: rgba(64, 47, 63, 0.87);
    }

    .results__item--kitsu:hover {
      background-color: rgba(64, 47, 63, 0.95);
    }

    .results__item--anilist {
      background-color: rgba(31, 38, 49, 0.87);
    }

    .results__item--anilist:hover {
      background-color: rgba(31, 38, 49, 0.95);
    }

    .results__item__num {

    }

    .results__item__logo {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .results__item__logo img {
      width: 50%;
    }

  </style>

  <script>
    new Vue({
      el: '#app',
      data: {
        isFetching: false,
        searchType: 'mal',
        searchId: null,
        result: {
          mal: null,
          kitsu: null,
          anilist: null
        },
        backgroundImage: ''
      },
      computed: {
        malURL: function () {
          if (this.result.mal) {
            return `https://myanimelist.net/anime/${this.result.mal}`
          } else {
            return null
          }

        },
        kitsuURL: function () {
          if (this.result.kitsu) {
            return `https://kitsu.io/anime/${this.result.kitsu}`
          } else {
            return null
          }
        },
        anilistURL: function () {
          if (this.result.anilist) {
            return `https://anilist.co/anime/${this.result.anilist}`
          } else {
            return null
          }
        }
      },
      methods: {
        search: function () {
          this.isFetching = true

          axios.get(`/api/v1/search?type=${this.searchType}&id=${this.searchId}`)
            .then((res) => {
              this.result.mal = res.data.services.mal
              this.result.kitsu = res.data.services.kitsu
              this.result.anilist = res.data.services.anilist

              axios.get(`https://kitsu.io/api/edge/anime/${res.data.services.kitsu}`)
                .then((res) => {
                  if (res.data.data.attributes.coverImage) {
                    this.backgroundImage = res.data.data.attributes.coverImage.tiny
                  } else if (res.data.data.attributes.posterImage) {
                    this.backgroundImage = res.data.data.attributes.posterImage.tiny
                  } else {
                    this.backgroundImage = ''
                  }
                })
            })
            .catch((error) => {
              this.searchId = null
              alert('Not Found')
            })
            .finally(() => {
              this.isFetching = false
            })
        }
      },
      delimiters: [
        "😇",
        "😇"
      ]
    })
  </script>
</body>
</html>
